<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Senha</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body class="bg-light">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Gerador de Senha Aleatória</h2>
                            <div class="mb-3">
                                <input type="text" id="senhaGerada" class="form-control form-control-lg text-center" readonly value="{{ senha_gerada }}">
                            </div>
                            <form method="post">
                                <div class="d-grid gap-2">
                                    <input class="btn btn-primary btn-lg" type="submit" name="gerar-senha" value="Gerar senha"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>